body{
    background-image: url("../img/three-persons-sitting-on-the-stairs-talking-with-each-other-1438072-darker.png");
    font-family: 'Fredoka One', cursive;
}



.buttons{
    margin: 0 auto;
    padding: 20px 2em;
    display: flex;
    width: 61em;
}
/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
}
.container h1,h2{
    margin: auto;
    text-align: center;
    color: #920000;
}



/* Remove IE arrow */
select::-ms-expand {
    display: none;
}
/* Custom Select */
.select {
    align-self: center;
    position: relative;
    display: inline-flex;
    width: 20em;
    height: 3em;
    margin: 0.5em auto;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}
select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
/* Transition */
.select:hover::after {
    color: #f39c12;
}

body {
    margin:0;
    background-color:#191919;
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

a {
    text-decoration:none;
    color:#FFF;
}


/* Modifié depuis ce code https://codepen.io/davidicus/pen/emgQKJ */

* {
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
}

.btn {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

@media (min-width: 600px) {
    .btn {
        margin: 0 1em 2em;
    }
}

.btn:hover {
    text-decoration: none;
}

.btn-1 {
    background: #920000;
    font-weight: 100;
    border: none;
}

.btn-1 svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.btn-1 rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}

.btn-1:hover {
    background: rgba(225, 51, 45, 0);
    font-weight: 900;
    letter-spacing: 1px;
}

.btn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}